.content {
    flex: 1;
    overflow: hidden;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.contentbar {
    display: flex;
    flex-direction: row;
    background-color: var(--content-tab-background);
    width: 100%;
    height: 35px;
}

.contentbar .fill {
    flex: 1;
    height: 100%;
    border-bottom: 1px solid var(--content-tab-border);
}

.contentbar .tabContainer {
    height: 100%;
    background-color: var(--content-tab-background);
    border-right: 1px solid var(--content-tab-border);
    border-top: 1px solid transparent;
    border-bottom: 1px solid var(--content-tab-border);
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0px 10px;
}

.contentbar .tabContainer.selected {
    background-color: var(--content-tab-selected-background);
    border-top: 1px solid var(--content-tab-selected-border-top);
    border-bottom: 1px solid transparent;
}

.contentbar .tabContainer:hover:not(.selected) {
    background-color: var(--content-tab-hover-background);
}

.contentbar .tabContainer .tabName {
    display: inline-block;
    color: var(--content-tab-foreground);
}

.contentbar .tabContainer.selected .tabName {
    color: var(--content-tab-selected-foreground);
}

.contentbar .tabClose {
    display: inline-block;
}

.contentContainer {
    position: relative;
    background-color: var(--content-container-background);
    height: calc(100% - 35px);
}

.preview {
    background-color: var(--activitybar-background);
    min-width: 100px;
    border-radius: 10px;
    padding: 10px 20px;
    position: absolute;
    z-index: 200;
    top: 20px;
    left: 20px;
}