.settingsEditor {
    width: 100%;
    height: 100%;
    display: flex;
    padding: 40px 20px
}

.navbar {
    width: 120px;
    height: 100%;
    border-right: 1px solid var(--content-settings-navbar-border);
}

.reference {
    padding: 4px 0;
}

.scrollContainer {
    flex: 1;
    height: 100%;
    overflow-y: auto;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: transparent; 
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #555;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #666;
}

.section {
    padding: 0 20px 20px 20px;
}

.sectionHeader {
    padding: 10px;
    font-size: 30px;
    font-weight: bold;
}

.field {
    padding: 10px;
}

.field:hover {
    background-color: var(--content-settings-field-hover-background);
}

.field.selected {

}

.field-header {
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 2px;
}

.field-description {
    margin-bottom: 2px;
}

.field-input {

}

.settingsEditor table {
    width: 100%;
    border-collapse: collapse
}

.settingsEditor table td, .settingsEditor table th {
    padding: 8px 0px 8px 20px;
}

.settingsEditor table thead tr th {
    background-color: var(--content-settings-table-striped-background);
}

.settingsEditor table tr:nth-child(even) {
    background-color: var(--content-settings-table-striped-background);
}

.settingsEditor .dropdown {
    display: inline-block;
    min-width: 150px;
    position: relative;
}

.settingsEditor .dropdown .dropdown-selection {
    background-color: var(--content-settings-dropdown-background);
    box-sizing: border-box;
    position: relative;
    border: 1px solid var(--content-settings-dropdown-border);
    width: 100%;
    padding: 1px 5px;
    border-radius: 2px;
}

.settingsEditor .dropdown .dropdown-selection:hover {
    cursor: pointer;
}

.settingsEditor .dropdown .dropdown-option-container {
    background-color: var(--content-settings-dropdown-background);
    box-sizing: border-box;
    border: 1px solid var(--content-settings-dropdown-border);
    position: absolute;
    list-style: none;
    margin: 0;
    padding: 0;
    z-index: 1;
    width: 100%;
    border-radius: 2px;
    display: none;
}

.settingsEditor .dropdown .dropdown-option {
    padding: 1px 5px;
}

.settingsEditor .dropdown .dropdown-option:hover {
    cursor: pointer;
    background-color: var(--content-settings-dropdown-option-hover-background);
}

