:root {
    --titlebar-height: 25px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--default-foreground);
    user-select: none;
    font-size: 12px;
    font-weight: 300;
}

html, body, .root {
    height: 100%;
    width: 100%;
    overflow: hidden;
    background-color: black;
}

.container {
    display: flex;
    margin-top: var(--titlebar-height);
    height: calc(100% - var(--titlebar-height));
}

.titlebar {
    -webkit-user-select: none;
    -webkit-app-region: drag;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: var(--titlebar-height);
    background-color: var(--titlebar-background);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.titlebar button {
    -webkit-app-region: no-drag;
}

.menubar {
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.dropdown {
    position: relative;
    height: 20px;
}

.dropdown-btn {
    height: 100%;
    border-style: none;
    background-color: transparent;
    outline: none;
    padding: 0 10px;
    border-radius: 5px;
}

.dropdown-btn:hover {
    background-color: var(--dropdown--button-hover-background);
}

.dropdown-content {
    display: none;
    list-style: none;
    position: absolute;
    z-index: 1;
    background-color: var(--dropdown-content-background);
}

.dropdown-content.visible {
    display: block;
}

.dropdown-content li {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    margin: 1px 4px;
}

.dropdown-content li:hover {
    background-color: var(--dropdown-content-element-hover-background);
}

.dropdown-element-name {
    white-space: nowrap;
    padding: 2px 10px;
}

.dropdown-element-shortcut {
    padding: 1px 10px;
}

.sidebar {
    height: 100%;
    width: var(--sidebar-width);
    background-color: var(--sidebar-background);
    display: flex;
    flex-direction: column;
}

.sidebar-btn {
    height: var(--sidebar-width);
    width: var(--sidebar-width);
    outline: none;
    border: none;
    background-color: transparent;
}

.sidebar-btn.selected {
    background-color: var(--sidebar-btn-selected-background);
}

.sidebar-btn-svg {
    width: calc(var(--sidebar-width) - 25px);
    height: calc(var(--sidebar-width) - 25px);
}

.sideContent {
    width: var(--sideContent-width);
    height: 100%;
    background-color: var(--sideContent-background);
}

.sideContentResize {
    position: relative;
    left: calc(var(--sideContent-width) - 3px);
    background-color: yellow;
    width: 6px;
    height: 100%;
    background-color: var(--sideContent-resize-background);
}

.mainContent {
    flex: 1;
    background-color: var(--mainContent-background);
    overflow: hidden;
}

.explorer-header {
    padding: 12px 20px;
}

.explorer-project-header {
    padding: 4px 20px;
    background-color: var(--explorer-project-header-background);
}

.explorer-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    padding-left: 20px;
}

.explorer-element {
    padding: 2px 10px;
    border-left: solid white 0.5px;
}

.explorer-element.selected {
    background-color: var(--explorer-element-selected-background);
}

.explorer-element:not(.selected):hover {
    cursor: pointer;
    background-color: var(--explorer-element-hover-background);
}

.labelList-table td, th {
   border: 1px solid white; 
}

.labelList-table {
    width: 100%;
    border-collapse: collapse;
}

.labelList-table thead, tbody {
    border-collapse: collapse;
}

.labelList .addButton {
    background-color: #1ac422;
    outline: none;
    border: none;
    border-radius: 0;
    padding: 2px 5px;
}

.labelList .addButton:hover {
    background-color: #258a2a;
    cursor: pointer;
}

.labelList {
    width: 100%;
    height: 100%;
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.labelList-table .selected {
    background-color: rgb(206, 164, 241);
}

.labelList td {
    padding: 2px 5px;
}

.labelList .newItem {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
}

.labelList .newItem-textInput {
    margin: 5px;
    box-sizing: border-box;
    width: auto;
    min-width: 20px;
}

.labelList .newItem-textInput {
    background-color: rgb(66, 64, 83);
    outline: none;
    border: 1px solid transparent;
}

.labelList .newItem-textInput:focus { 
    border: 1px solid #6fa2e6;
}

:where(th, td).min {
    width: 0;
    white-space: nowrap;
    text-align: center;
}

:where(th, td):not(.min) {
    text-align: left;
}