:root {
    --titlebar-height: 25px
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--default-foreground);
    user-select: none;
}

html, body, .root {
    height: 100%;
    width: 100%;
    overflow: hidden;
    background-color: black;
}

.container {
    display: flex;
    margin-top: var(--titlebar-height);
    height: calc(100% - var(--titlebar-height));
}

.titlebar {
    -webkit-user-select: none;
    -webkit-app-region: drag;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: var(--titlebar-height);
    background-color: var(--titlebar-background);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.titlebar button {
    -webkit-app-region: no-drag;
}

.menubar {
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.dropdown {
    position: relative;
    height: 20px;
}

.dropdown-btn {
    height: 100%;
    border-style: none;
    background-color: transparent;
    outline: none;
    padding: 0 10px;
    border-radius: 5px;
}

.dropdown-btn:hover {
    background-color: var(--dropdown--button-hover-background);
}

.dropdown-content {
    display: none;
    list-style: none;
    position: absolute;
    z-index: 1;
    background-color: var(--dropdown-content-background);
}

.dropdown-content.visible {
    display: block;
}

.dropdown-content li {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    margin: 1px 4px;
}

.dropdown-content li:hover {
    background-color: var(--dropdown-content-element-hover-background);
}

.dropdown-element-name {
    white-space: nowrap;
    padding: 2px 10px;
}

.dropdown-element-shortcut {
    padding: 1px 10px;
}

.sidebar {
    height: 100%;
    width: var(--sidebar-width);
    background-color: var(--sidebar-background);
    display: flex;
    flex-direction: column;
}

.sideContent {
    width: var(--sideContent-width);
    height: 100%;
    background-color: var(--sideContent-background);
}

.sideContent.highlighted-border {
    border-right: solid rgb(101, 113, 163) 6px;
}

.mainContent {
    flex: 1;
    background-color: var(--mainContent-background);
    overflow: hidden;
}

.explorer-header {
    padding: 12px 20px;
}

.explorer-project-header {
    padding: 4px 20px;
    background-color: var(--explorer-project-header-background);
}

.explorer-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    padding-left: 20px;
}

.explorer-element {
    padding: 2px 10px;
    border-left: solid white 0.5px;
}

.explorer-element.selected {
    background-color: var(--explorer-element-selected-background);
}

.explorer-element:not(.selected):hover {
    cursor: pointer;
    background-color: var(--explorer-element-hover-background);
}