.classEditor {
    width: 100%;
    height: 100%;
}

.classEditorContainer {
    padding: 0 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.classEditor h2 {
    padding: 10px;
}

.classEditor table td, .classEditor table th {
    border: 1px solid var(--classEditor-table-borderColor); 
 }
 
.classEditor table {
    width: 100%;
    border-collapse: collapse;
}
 
.classEditor table thead, .classEditor table tbody {
    border-collapse: collapse;
}

.classEditor table tr:not(thead tr) {
    cursor: pointer;
}
 
.classEditor table .selected {
    background-color: var(--classEditor-table-classSelectedColor);
}
 
.classEditor th, .classEditor td {
    padding: 2px 5px;
}

:where(th, td).min {
    width: 0;
    white-space: nowrap;
    text-align: center;
}
 
:where(th, td):not(.min) {
    text-align: left;
}
 
.classEditor .inputRow {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
}
 
.classEditor input[type=text] {
    box-sizing: content-box;
    min-width: 20px;
    display: flex;
    border: none;
    background-color: var(--classEditor-textInput-background);
    outline: none;
    flex: 1;
}

.classEditor input[type=text]:focus { 
    border: 1px solid var(--classEditor-textInput-focusBorderColor);
}
 
.classEditor .inputRow-colorInput {
    width: 10px;
    height: 10px;
    border: 1px solid var(--classEditor-colorInput-borderColor);
    margin: 0px 10px;
}

.classEditor .addButton {
    background-color: var(--classEditor-addButton-background);
    outline: none;
    border: none;
    border-radius: 0;
    padding: 2px 5px;
}
 
.classEditor .addButton:hover {
    background-color: var(--classEditor-addButton-hoverBackground);
    cursor: pointer;
}