.explorer h2 {
    padding: 10px;
}

.explorer .project-header {
    padding: 2px 0 2px 12px;
    background-color: var(--sidebar-section-header-background);
}

.explorer ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.explorer li .explorer-imageNameContainer {
    padding: 1px 12px;
    display: flex;
    align-items: center;
}

.explorer li.selected .explorer-imageNameContainer {
    background-color: var(--list-selected-background);
}

.explorer li:not(.selected) .explorer-imageNameContainer:hover {
    cursor: pointer;
    background-color: var(--list-hover-background);
}

.explorer-openIndicator {
    width: 10px;
    height: 10px;
    margin-right: 6px;
    transform: rotate(-90deg);
}

.explorer-openIndicator.opened {
    transform: rotate(0);
}

.explorer-classElement {
    padding: 1px 0 1px 28px !important;
}

.explorer-classElement-color {
    width: 10px;
    height: 10px;
    display: inline-block;
    margin-right: 4px;
}