.sidebar {
    width: var(--sidebar-width);
    height: 100%;
    background-color: var(--sidebar-background);
    border-right: 1px solid var(--sidebar-border);
    overflow-y: auto;
}

.sidebarResize {
    position: absolute;
    left: calc(var(--sidebar-width) + calc(var(--activitybar-width) - 3px));
    width: 6px;
    height: 100%;
    background-color: transparent;
    z-index: 1;
}

.sidebar.hidden {
    border-right: none;
}

.sidebarResize.selected {
    background-color: var(--sidebar-resize-background);
}