.activitybar {
    height: 100%;
    width: var(--activitybar-width);
    background-color: var(--activitybar-background);
    display: flex;
    flex-direction: column;
}

.activitybar-btn {
    height: var(--activitybar-width);
    width: var(--activitybar-width);
    outline: none;
    border: none;
    background-color: transparent;
    fill: var(--activitybar-foreground);
    stroke: var(--activitybar-foreground);
}

.activitybar-btn:hover {
    fill: var(--activitybar-selectedForeground);
    stroke: var(--activitybar-selectedForeground);
}

.activitybar-btn.selected {
    background-color: var(--activitybar-selected-background);
    fill: var(--activitybar-selectedForeground);
    stroke: var(--activitybar-selectedForeground);
}

.activitybar-btn-svg {
    width: calc(var(--activitybar-width) - 25px);
    height: calc(var(--activitybar-width) - 25px);
}