.activitybar {
    border-right: 1px solid var(--activitybar-border);
    height: 100%;
    width: var(--activitybar-width);
    background-color: var(--activitybar-background);
    display: flex;
    flex-direction: column;
}

.activitybar .action-item {
    border-left: 2px solid transparent;
    height: var(--activitybar-width);
    width: var(--activitybar-width);
    display: flex;
    align-items: center;
    justify-content: center;
}

.activitybar .action-label {
    width: calc(var(--activitybar-width) - 25px);
    height: calc(var(--activitybar-width) - 25px);
}

.activitybar .action-item > * {
    fill: var(--activitybar-foreground);
    stroke: var(--activitybar-foreground);
}

.activitybar .action-item:hover > * {
    fill: var(--activitybar-selected-foreground);
    stroke: var(--activitybar-selected-foreground);
}

.activitybar .action-item.selected {
    border-left: 2px solid var(--activitybar-selected-border);
    background-color: var(--activitybar-selected-background);
}

.activitybar .action-item.selected > * {
    fill: var(--activitybar-selected-foreground);
    stroke: var(--activitybar-selected-foreground);
}