:root {
    --titlebar-height: 25px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
    font-size: 12px;
    font-weight: 300;
    color: var(--foreground);
}

html, body, .root {
    height: 100%;
    width: 100%;
    overflow: hidden;
    background-color: black;
    color: var(--foreground);
}

.container {
    display: flex;
    margin-top: var(--titlebar-height);
    height: calc(100% - var(--titlebar-height));
}